body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height:1.5;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}

/* Global  */
.container {
    width: 80%;
    margin:auto;
    overflow:hidden;
}

ul {
    margin: 0px;
    padding: 0px;
}



/* Header */
header {
    background: #35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom: #29e0237c 3px solid;
}

header a {
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:15px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float:right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color:#29e0237c;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* showcase */
#showcase {
    min-height: 400px;
    background: url("../images/centercity.jpg") no-repeat 0 -400px;
    text-align :center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}
/* about me */
#about-me h1 {
    text-align: center;
}
#about-me img{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:20%;
    border-radius: 55px 20px 55px;
}
#about-me p {
    text-align: center;

}

/* boxes of technologies  */
#boxes {
    margin-top:20px;
}
#boxes h1{
    text-align:center;
}
#boxes .box {
    float:left;
    width: 15%;
    padding:10px;
}

#boxes .box img {
    width: 90px;
}

/* project boxes */
#projects {
    margin-top:20px;
}

#projects {
    text-align:center;
}

#projects .box {
    float:left;
    width:30%;
    padding:10px;
}

#projects .box img {
    width: 300px;
}

/* footer */
footer {
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color: #29e0237c;
}
/* Media Queries  */
@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #boxes .box,
    #projects .box{
        float: none;
        text-align:center;
        width:100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }
}