body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height:1.5;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}

/* Global  */
.container {
    width: 80%;
    margin:auto;
    overflow:hidden;
}

ul {
    margin: 0px;
    padding: 0px;
}



/* Header */
header {
    background: #35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom: #29e0237c 3px solid;
}

header a {
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:15px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float:right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color:#29e0237c;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* showcase */
#showcase {
    min-height: 400px;
    background: url("../images/showcase.jpg") no-repeat 0;
    text-align :center;
    color: #ffffff;
    filter: blur(4px);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    
}

#showcase h1 {
    margin-top: 200px;
    font-size: 55px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
}

/* welcome-text animation */
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.welcome-text { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em; 
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 7s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}

/* about me */
#about-me h1 {
    text-align: center;
}
#about-me img{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:20%;
    border-radius: 55px 20px 55px;
}
#about-me p {
    text-align: center;

}

/* boxes of technologies  */
#boxes {
    margin-top:20px;
}
#boxes h1{
    text-align:center;
}
#boxes .box {
    float:left;
    width: 15%;
    padding:10px;
}

#boxes .box img {
    width: 90px;
}

/* project boxes */
#projects {
    margin-top:20px;
}

#projects {
    text-align:center;
}

#projects .box {
    float:left;
    width:30%;
    padding:10px;
}

#projects .box img {
    width: 300px;
}

/* footer */
footer {
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    font-weight: bold;
    background-color: #29e0237c;
}

footer img {
    width:5%; 
    float:left; 
    margin-left:50px;
}

footer p {
    margin-left:300px;
}
footer a {
    text-decoration: none;
    color: #0661f37c;
}


/* Media Queries  */
@media(max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #boxes .box,
    #projects .box{
        float: none;
        text-align:center;
        width:100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }
}